
.container{
    width:920px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    background-color: blue;
    height: 100px;
    width: 920px;
}
.yellowbox1{
    background-color: yellow;
    height: 55px;
    width: 250px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    
}

.yellowbox2{
    background-color: yellow;
    height: 55px;
    width: 610px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    
}

.greenbox1{
    background-color: green;
    width: 920px;
    height: 470px;   

}

.content1{
    background-color: red;
    height:400px;
    width:920px;
    float: left;
}

.yellowbox3{
    background-color: yellow;
    height: 100px;
    width: 880px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    
}

.yellowbox4{
    background-color: yellow;
    height:280px;
    width: 280px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    
}

.content2{
    background-color: red;
    height:780px;
    width:920px;
    float: left;
}

.yellowbox5{
    background-color: yellow;
    height:70px;
    width: 880px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    
}

.yellowbox6{
    background-color: yellow;
    height:200px;
    width: 205px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    
}

.content3{
    background-color: green;
    height:620px;
    width:920px;
    float: left;
}

.yellowbox7{
    background-color: yellow;
    height:150px;
    width: 880px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    
}

.yellowbox8{
    background-color: yellow;
    height:400px;
    width: 280px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    
}

.content4{
    background-color: red;
    height:580px;
    width:920px;
    float: left;
}

.yellowbox9{
    background-color: yellow;
    height:70px;
    width: 880px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    
}

.yellowbox10{
    background-color: yellow;
    height:450px;
    width: 550px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    
}


.yellowbox11{
    background-color: yellow;
    height:310px;
    width: 310px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    
}

.footer{
    background-color: blue;
    height: 100px;
    width: 920px;
    float: left;
}